<div id="about">
    <p>I am a Software Engineer building iOS apps at <a
        href="https://www.rejuvenan.com/" target="_blank">Rejuvenan Global
        Health</a> in New York City. I enjoy learning cocoa development, reading
    horror books, and going for a hike in the great outdoors. My projects are
    hosted on <a href="https://www.github.com/tjmaynes/"
        target="_blank">github</a>, along with my <a href="/cv.pdf">CV</a> in pdf
    format. The easiest way to contact me is through my email: <a
        href="mailto:tjmaynes@outlook.com">tjmaynes at outlook dot com</a>. Also,
    you can find me on <a href="https://www.twitter.com/tjmaynes/"
        target="_blank">twitter</a>. Currently, I'm spending a majority of my
    free computing time learning <a
        href="https://developer.apple.com/swift/">Swift</a> and <a
        href="http://ruby-lang.org/">Ruby</a>.</p>
</div>
