<nav class="projects">
  <ul>
    <li><a href="https://itunes.apple.com/us/app/juve/id1024629829"
		target="_blank">Juve</a> - the Official Rejuvenan iOS App I'm working on.</li>
    <li><a href="https://github.com/tjmaynes/ansp" target="_blank">ANSP</a> - C++ program that tests the time complexity of various sorting algorithms.</li>
    <li><a href="https://github.com/tjmaynes/huebly" target="_blank">Huebly</a>
		- color picking iOS app.</li>
    <li><a href="/projects/canny-bot">CannyBot</a> - getting the NAO Robot to draw the shapes it "sees" using OpenCV.</li>
    <li><a href="https://github.com/tjmaynes/maze" target="_blank">Maze</a> -
				finding the shortest path through a 3D maze using Python and NetworkX.</li>
    <li><a href="https://github.com/tjmaynes/CityWiki"
						target="_blank">CityWiki</a> - getting data from Wikipedia and Weather API using Sinatra and Unirest.</li>
  </ul>
</nav>
